---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!--
## Articles
- Shih-Yi Chien, Shiau-Fang Chao, Yihuang Kang, **Chan Hsu**, Meng-Hsuan Yu, Chan-Tung Ku. (2022). Understanding Predictive Factors of Dementia for Older Adults: A Machine Learning Approach for Modeling Dementia Influencers. International Journal of Human-Computer Studies (IJHCS).

## Conference proceedings
- Chih-Yuan Li, Jun-Ting Wu,**Chan Hsu**, Ming-Yen Lin, Yihuang Kang. (2024). Understanding eGFR Trajectories and Kidney Function Decline via Large Multimodal Models. Accepted by International Workshop on Big Data in Healthcare (BDH, in conjunction with IEEE MIPR). 
- **Chan Hsu**, Jun-Ting Wu, Yihuang Kang. (2024). Causal Rule Forest: Toward Interpretable and Precise Treatment Effect Estimation. Accepted by IEEE IRI 2024.
- I-Ling Cheng, **Chan Hsu**, Pei-Ju Lee, Chan-Tung Ku, Yihuang Kang. (2024). Subgroup analysis via Model-based Rule Forest. Accepted by IEEE Workshop on AI for Healthcare (AIHC, in conjunction with IEEE IRI).
- Hei-Liam Chow, **Chan Hsu**, Shih-Yi Chien. (2024). Psychosocial Determinants of Dementia Progression: Insights from Advanced Data Analytics using the Taiwan Longitudinal Study in Aging. In IEEE International Conference on Human-Machine Systems (ICHMS). 
- **Chan Hsu**, Wei-Chun Huang, Jun-Ting Wu, Chih-Yuan Li, Yihuang Kang. (2023). Toward Transparent Sequence Models with Model-Based Tree Markov Model. In IEEE International Conference on Multimedia Information Processing and Retrieval (MIPR), Big Data in Healthcare workshop.
- **Chan Hsu**, Chan-Tung Ku, Yuwen Wang, Minchen Hsieh, Jun-Ting Wu, Yunhsiang Hsieh, PoFeng Chang, Yimin Lu, Yihuang Kang. (2023). A Teacher-Student Knowledge Distillation Framework for Enhanced Detection of Anomalous User Activity. In IEEE International Conference on Information Reuse and Integration for Data Science (IRI). 
- **Chan Hsu**, Ching-Chih Tsao, Yu-Liang Weng, Cheng-Yi Tang, Yu-Wen Chang, Yihuang Kang, Shih-Yi Chien. (2022). A machine learning approach to model HRI research trends in 2010~ 2021. In ACM/IEEE International Conference on Human-Robot Interaction (HRI).
-->

<!-- New style rendering if publication categories are defined -->


{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}



